<div class="homeContainer">
  <div class="jumbotron text-center">
    <h1>CineRama: Movie Reviews</h1>
    <p class="lead">Welcome to CeneRama</p>
    <div>
      <a class="btn btn-primary" [routerLink]="['/register']">Register</a>
      <a class="btn btn-primary" [routerLink]="['/login']">Login</a>    
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <h3>Express Backend</h3>
      <p>Node.js/Express server using mongoose to organize models and query the database</p>
    </div>
    <div class="col-md-4">
      <h3>Angular-cli</h3>
      <p>Angular-cli to generate components , services and more.</p>
    </div>
    <div class="col-md-4">
      <h3>JWT tokens</h3>
      <p>Full featured authentication using json web tokens</p>
    </div>
  </div>
</div>