.customfooter{
    /* background-color: #222;
    color: white;
    height: 50px;
    text-align: center;
    margin: auto;
    padding: 10px;
    bottom: 0; */


    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 10px;
    background-color: #222;
    color: white;
    text-align: center;
}